<h3>Warehouse</h3>
<div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
    <table class="table table-striped mb-0">
     <thead style="background-color: #002d72; color:aliceblue">
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Product company</th>
            <th scope="col">Product intense</th>
            <th scope="col">Product price</th>
            <th scope="col">Product discount</th>
        </tr>
     </thead>
         <tbody>
             <tr>
               <td>Blue</td>
               <td>Chanel</td>
               <td>Eau de perfume</td>
               <td>600</td>
               <td>0%</td>
             </tr>
            <tr>
                <td>Allure</td>
                <td>Chanel</td>
                <td>Eau de perfume</td>
                <td>600</td>
                <td>10%</td>
            </tr>
        </tbody>
    </table>
</div>
              
